<div>
  <h2 mat-dialog-title>Add new company</h2>

  <mat-dialog-content [formGroup]="form" class="company-dialog">

    <mat-form-field>
      <input matInput
             placeholder="Company Name"
             formControlName="companyName">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Contact person name"
             formControlName="contactFirstName">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Contact person lastname"
             formControlName="contactLastName">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="action-buttons">
    <button mat-raised-button (click)="closeDialog()">Close</button>
    <button mat-raised-button color="primary" (click)="addCompany()">Add</button>
  </mat-dialog-actions>
</div>
